@import '../../../styles/variables';
.listItem {
  height: 100px;
  margin: 15px 0;
  padding: 10px;
  display: grid;
  grid-template-columns: 3fr 15fr 2fr;
  column-gap: 20px;
  overflow: hidden;
  .imageContainer {
    img {
      width: 100%;
      height: 80px;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  .contentContainer {
    height: inherit;
  }
}
