// font sizes
// $font-size-sm:
$font-size-xs: 1rem;
$font-size-sm: 1.2rem;
$font-size-md: 1.4rem;
$font-size-lg: 1.6rem;
$font-size-xl: 1.8rem;
$font-size-xxl: 2rem;
$font-size-xxxl: 3rem;

// colors
$primary-color: #1b98f5;
$default-text-color: #0d0d0d;
$white-color: #fff;
$black-color: #000;
