@import './variables';
@import './global-classes';
@import './prime-react-custo';

// comonents import
@import './components';
html {
  font-size: 62.5%;
}
body {
  padding: 0;
  margin: 0;
  font-size: $font-size-md;
  color: $default-text-color;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

* {
  box-sizing: border-box;
}
